
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    font-family: 'Righteous', cursive;
}
body{
    background: black !important;
}

.product-box{
    box-shadow: 0 0 20px  #20a9bb, 0 0 20px #20a9bb;
    border-radius: 20px;
    
}

.navbar-nav a:hover{
    text-shadow: 0 0 10px  #20a9bb, 0 0 10px #20a9bb ;
}


.all-prod{
    width: 30vw;
}


.department{
    background-color: black;

}

.carousel-item img{
    height: 47vw;
}

.tag{
    border-radius: 10px;
    padding: 7px;
    width: 96px;
    font-size: 13px;
    background-color: rgb(170, 43, 43);
    margin: -290px 0 257px 5px;
}



.my-card{
    width: 300px !important;
    height: 550px;
    margin-top: 30px !important;
    background-color: black !important;
    border: 2px dotted rgb(142, 172, 142) !important; 
    
    border-radius: 1vw;
    width: 25vw;

}
.price{
    margin-top: 20px;
}
.buy{
    width: 260px;
    margin-top: 0px;
}
.hr1{
    width: 19vw;
    margin-left: 33vw ;
    border: none;
    background-color: white;
}
.hr2{
    width: 9vw;
    margin-left: 40vw ;
    border: none;
    background-color: white;
}
.hr3{
    width: 9vw;
    margin-left: 40vw ;
    border: none;
    background-color: black;
}



.hr4{
    width: 5vw;
    margin-left: 39vw ;
    border: none;
    background-color: white;
}

.hr5{
    width: 13vw;
    margin-left: 43vw ;
    border: none;
    background-color: white;
}


/* .card .my-card{
    background-color: rgb(204, 96, 96);
    border: 0.3vw solid rgb(142, 172, 142); 
    
    border-radius: 1vw;
    width: 25vw;
} */

.my-card1{
    border: 0.3vw solid rgb(225, 238, 112); 
    width: 400px !important;
    margin-top: 30px !important;
    background-color: black;
    border-radius: 1vw;
    width: 25vw;
}



.aboutus{
    background-color: black;
    width: 90vw !important;
    margin: 3.2vw 0 0 3.2vw;
    border-radius: 3vw;
}

.acrd{
    width: 60vw;
}

.accordion-button::after {
    filter: invert(1);
}

.contactus{
    background-color: #fff;
    width: 90vw;
    margin: 4vw 0 4vw 4vw;
    border-radius: 3vw;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #20a9bb !important;
}

#liveAlertPlaceholder{
    margin-top: 50px !important;
}

/* .contactus .address{
    padding: 4.5vw;
} */

/* .maps{
    width: 40vw;
    height: 13vw;
    align-items: flex-end;
    border-radius: 1.5vw;
    margin-bottom: 2vw;
} */


.owl-carousel .owl-item{
    cursor: pointer;
}

.wool1{
    margin-top: 110px;
    margin-bottom: 30px;
}



.contact-outer{
    display: flex;
    justify-content: space-between;
    
}

.mail-sec{
    padding-left: 50px;
}

.map{
    width: 600px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px  #6c7d80, 0 0 20px #5f6a6b;
}


/* .contact-address{
    display: flex;
    justify-content: flex-end;
} */



@media only screen  and (max-width: 450px){
.hr1{
    width: 50vw;
    margin-left: 20vw;
}

.hr2{
   width: 20vw;
   margin-left: 35vw;
}

.hr3{
    width: 20vw;
    margin-left: 35vw;
}

.hr4{
    width: 16vw;
    margin-left: 37vw;

}
/* .maps{
    height: 50vw;
    margin-top: 7vw;
} */

.acrd{
    width: 90vw;

}

.carousel-item img{
    height: 77vw;
}
.wool1{
    margin-top: 110px;
    margin-bottom: -30px;
}

.product-box{
    box-shadow: none;
}

.all-prod{
    width: 50vw;
}

/* .card img{
    width: 40vw;
    margin-left: 23vw;
    margin-top: 3vw;
    border-radius: 1.3vw;
} */

.mail-sec{
    padding-left: 10px;
}

.map{
    width: 160px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px  #6c7d80, 0 0 20px #5f6a6b;
}

}

  .counter-up{
    background: url("images/bg-2.jpeg") no-repeat;
    min-height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .counter-up::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
  }
  .counter-up .content{
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .counter-up .content .box{
    box-shadow: 0 0 10px  #6c7d80, 0 0 20px #5f6a6b;
    border: 1px dashed rgba(255,255,255,0.6);
    width: calc(25% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
  }
  .content .box .icon{
    font-size: 48px;
   color: #20a9bb;
  }
  .content .box .counter{
    font-size: 50px;
    font-weight: 500;
    
    font-family: sans-serif;
  }
  .content .box .text{
    font-weight: 400;
    color: rgb(83, 187, 83);
  }
  @media screen and (max-width: 1036px) {
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .content .box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 580px) {
    .counter-up .content .box{
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .wrapper{
      padding: 20px;
    }
    .counter-up{
      padding: 30px 20px 0 20px;
    }
}